{% for option in field_type.options %}

    <label class="control-label">
        <input
                type="checkbox"
                value="{{ option.value }}"
                name="{{ field_type.getInputName() }}[]"
                {{ option.checked ? 'checked' }}
                >
        {{ trans(option.label) }}
    </label>

{% endfor %}
