{% for value, option in field_type.options %}

    <label class="checkbox">
        <input
                type="checkbox"
                value="{{ value }}"
                name="{{ field_type.input_name }}[]"
                {{ value in field_type.value ? 'checked' }}
                >

        {{ trans(option) }}
    </label>

{% endfor %}
