{% for value, option in field_type.options %}

    <label class="control-label">
        <input
                type="checkbox"
                value="{{ value }}"
                name="{{ field_type.getInputName() }}[]"
                {{ value in field_type.value ? 'checked' }}
                >
        {{ trans(option) }}
    </label>

{% endfor %}
